body {
	background-color: lightgrey;
}

body a {
	color: darkblue;
}

blockquote {
	margin-left: 0px;
	border-left: 2px solid black;
}

blockquote p {
	padding-left: 20px;
	font-style: italic;
}

#pride {
	position: fixed;
	top: 0;
	right: 0;
}

@media screen and (max-width: 810px) {
	#pride {
		top: -30px;
		right: -30px;
		transform: scale(0.5);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	body a {
		color: lightblue;
	}

	body h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	li,
	hr {
		color: lightgray;
	}

	blockquote {
		border-left: 2px solid white;
	}

	nav {
		border-right: 1px lightgray solid;
	}
}

main {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

header {
	display: flex;
	align-items: center;
	gap: 40px;
}

header p {
	font-family: sans-serif;
}

nav {
	padding: 10px;
	gap: 12px;
	border-right: 1px black solid;
	min-width: 132px;
	max-width: 132px;
	display: flex;
	flex-direction: column;
}

nav hr {
	width: 100%;
}

nav a {
	text-decoration: none;
}

.images,
.links {
	display: flex;
	flex-direction: column;
	min-width: 132px;
	max-width: 132px;
	gap: 12px;
}

.active {
	font-weight: bold;
}

#censor,
#picture {
	margin: 0 auto;
	height: auto;
}

#censor {
	width: 115px;
}

#picture {
	width: 132px;
}

article {
	max-width: 612px;
	width: 100%;
}

img,
video {
	max-width: 400px;
	width: 100%;
	height: auto;
}

main {
	font-family: sans-serif;
}

.letter-break {
	line-break: anywhere;
	user-select: all;
}

li + li {
	margin: 6px 0;
}

.fa-bitcoin-cash {
	transform: rotate(-30deg);
}

@media (prefers-color-scheme: dark) {
	nav {
		border-right: 1px lightgray solid;
	}
}

@media screen and (max-width: 450px) {
	main {
		flex-direction: column;
	}
	nav {
		border: unset;
		border-bottom: 1px black solid;
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-around;
		background-color: rgba(211, 211, 211, 0.8);
		flex-direction: column-reverse;
		position: sticky;
		top: -90px;
	}
	nav hr {
		display: none;
	}
	.links {
		border: unset;
		border-bottom: 1px black solid;
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-around;
	}

	.images {
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-between;
	}

	#picture,
	#censor {
		height: 80px;
		width: auto;
	}
}

@media screen and (prefers-color-scheme: dark) and (max-width: 450px) {
	main {
		flex-direction: column;
	}
	nav {
		border: unset;
		border-bottom: 1px lightgray solid;
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.about-blank {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-blank p {
	color: gray;
}
